*{

    margin: 0%;
    padding: 0px;
}
.body{
    width: 100%;
    height: 100vh;
}

.line{
    display: flex;
    width: 100%;
    height: 33%;
    justify-content: space-between;
}

.bloco{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: blue;
    background-color: blue;
}

.bloquinho{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;
}

.q1{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.q2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.metade{
    display: flex;
    width: 50%;
    height: 100%;

}
.terco{
    width: 100%;
    height: 33%;
}
.q3{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: end;
}
.q4{
    display: flex;
    justify-content: center;
    align-items: end;

}
.q5{
    display: flex;
    justify-content: center;
}

.q6{
    display: flex;
    justify-content: space-between;
}
.coluna{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}
.q8{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
}

.q9{
   flex-direction: row-reverse; 
}